@media (max-width: 1145px) {
    .projects-info {
        flex-wrap: wrap;
    }

    .project-items {
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
}

@media (max-width: 907px) {
    .content-info{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .content-info-text {
        margin-top: 5vw;
    }

    .content-info-text {
        align-items: center;
        text-align: center;
    }
}

@media screen {
    .content-info {
        justify-content: space-around;
    }
}